<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" style=""><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Valeo</title>
	
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	
	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<section class="page_toplogo table_section table_section ls section_padding_20">
				<div class="container">
					<div class="row">
						<div class="col-sm-2 col-sm-push-4 text-center ">
							
						</div>
						<div class="col-sm-4 col-sm-pull-2 text-center text-sm-left contact-teaser">
							<span class="small-text">Emergency cases</span>
							<p class="yantramanov weight-black fontsize_25">+1(800) 450 7550</p>
						</div>
						<div class="col-sm-4 text-center text-sm-right contact-teaser">
							
							
							<div *ngIf="auth.user | async; then authenticated else guest">
								<!-- template will replace this div -->
							</div>

							<!-- User NOT logged in -->
							<ng-template #guest>
								<button (click)="login()">
									<i class="fa fa-google"></i> Google login
								</button>

							</ng-template>	

							<!-- User logged in -->
							<ng-template #authenticated>
								<div *ngIf="auth.user | async as user">
									<h4>{{ user.displayName }}</h4>
									<button (click)="auth.signOut()">Logout</button>
								</div>
							</ng-template>
						</div>
					</div>
				</div>
			</section>


		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->
	
</body>
</html>